<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Order details | Athena Airlines</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" th:href="@{/images/logo.jpg}">
</head>
<body>
	<!-- Navigation bar START-->
	<div th:replace="fragments/navbar.html :: navbar"></div>
	<!-- Navigation bar END-->
	<div class="container">
		<p style="font-size: 35px; color: rgb(16, 130, 236)">Order details</p>
		<p style="font-size: 20px;">Order number: 234l2-safasd-233423-34</p>
		<hr>
		<p style="color: rgb(6, 6, 124); font-size: 30px;">Booked tickets</p>
		<p class="" style="font-size: 30px;">
			<span class="text-success">Depart&nbsp;</span><span
				style="color: rgb(6, 6, 124)"
				th:text="${departureCityAndArrivalCity}"> </span> <br> <span
				style="font-size: 20px; color: grey"
				th:text="${formatedDepartureDate}"></span>
		</p>
		<table class="table mb-3">
			<thead style="background-color: rgb(246, 246, 246)">
				<tr>
					<th scope="col">Flight</th>
					<th scope="col">Depart</th>
					<th scope="col">Arrive</th>
					<th scope="col">Duration</th>
					<th scope="col">Stops</th>
					<th scope="col">Class</th>
				</tr>
			</thead>
			<tbody>
				<tr style="font-size: 20px;">
					<td><img alt="" width="40px;" height="40px"
						th:src="@{/images/logo.jpg}"> <span
						th:text="${selectedFlight.getFlightId()}"></span></td>
					<td><span th:text="${selectedFlight.departingTime()}"></span><br>
						<span style="font-weight: bold;"
						th:text="${selectedFlight.source}"></span></td>
					<td><span th:text="${selectedFlight.arrivalTime()}"></span><br>
						<span style="font-weight: bold;" th:text="${selectedFlight.dest}"></span></td>
					<td><span th:text="${selectedFlight.flightDuration()}"></span></td>
					<td><span>Nonstop</span></td>
					<td><span th:text="${seatType}"></span></td>

				</tr>
			</tbody>
		</table>
		<div th:each="pass, iter : ${passengerAddedList}"
			style="font-size: 25px;" class="mb-2">
			<div>
				Passenger&nbsp;<span th:text="${iter.count}"></span>
			</div>
			<div>
				<span th:text="${pass.getFirstName()}"></span>&nbsp;<span
					th:text="${pass.getMiddleName()}"></span>&nbsp; <span
					th:text="${pass.getLastName()}"></span><br> Birthday: <span
					th:text="${pass.getBirthday()}"></span>
			</div>

			<span>Ticket confirmation code: <span><b
					th:text="${pass.getConfirmationCode()}"> </b></span></span>
		</div>

		<div class="mt-4" style="font-size: 25px; color: blue;">
			Thank you for flying with Athena Airlines! <br> Have a safe
			trip!
		</div>

	</div>
	<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>